.card {
  display: grid;
  //   flex-direction: column;
  row-gap: 0.5rem;
  margin-bottom: 2.5rem;
  border-radius: 0.3125rem;
  border-left: 0.25rem solid transparent;
  padding: 1.5rem;
  padding-top: 2rem;
  padding-left: 1.25rem;

  background-color: #fff;
  box-shadow: 0 1rem 1.25rem -0.25rem hsl(var(--neutral-800-hsl) / 15%);

  @media (min-width: 48em) {
    grid-template-columns: auto 1fr 1fr;
    align-items: center;
    column-gap: 1.5rem;
  }

  &[data-featured='true'] {
    border-left-color: var(--primary-400);
  }

  &__logo {
    @media (max-width: 767px) {
      width: 3rem;
      margin-top: -3.5rem;
    }
  }

  &__data {
    display: grid;
    gap: 0.5rem;

    @media (max-width: 767px) {
      margin-bottom: 0.5rem;
      border-bottom: 1px solid var(--neutral-dot);
      padding-bottom: 1rem;
    }
  }

  &__heading {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    gap: 1rem;
  }

  &__name {
    font-weight: var(--fw-700);
    font-size: 13px;
    font-size: 18px;
    color: var(--primary-400);
  }

  &__label {
    &s {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      gap: 0.5rem;
    }

    border-radius: 50vw;
    padding: 0.5rem;
    font-weight: var(--fw-700);
    font-size: 14px;
    line-height: 1;
    text-transform: uppercase;
    background-color: gray;
    color: #fff;

    &[data-label='new'] {
      background-color: var(--primary-400);
    }

    &[data-label='featured'] {
      background-color: var(--neutral-900);
    }
  }

  &__title {
    font-weight: var(--fw-700);
    font-size: 15px;
    font-size: 22px;
    color: var(--neutral-900);

    a {
      color: inherit;
      text-decoration: none;

      &:hover {
        color: var(--primary-400);
      }
    }
  }

  &__meta {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 0.75rem;
    color: var(--neutral-700);

    span {
      display: flex;
      flex-wrap: wrap;
      align-items: center;

      &:not(:first-child)::before {
        content: '';

        width: 0.25rem;
        aspect-ratio: 1;
        margin-right: 0.75rem;
        border-radius: 50%;
        background-color: var(--neutral-dot);
      }
    }
  }
}

// tag
.card__tag {
  &s {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 1rem;
    justify-self: end;
  }

  display: flex;
  align-items: center;

  background-color: hsl(var(--primary-400-hsl) / 10%);
  color: var(--primary-400);
  border: 0;
  border-radius: 0.25rem;
  padding: 0;
  // padding: 0.25rem 0.5rem;
  font-weight: var(--fw-700);
  font-size: 1rem;
  line-height: 1.5;

  &-name {
    display: block;
    padding: 0.25rem 0.5rem;
  }

  &-delete {
    height: 100%;
    margin: 0;
    border: 0;
    border-radius: 0 0.25rem 0.25rem 0;
    padding: 0 0.5rem;
    background-color: var(--primary-400);
    cursor: pointer;
    transition: 175ms;

    &:hover {
      background-color: var(--neutral-900);
    }
  }

  &-hover {
    cursor: pointer;
    transition: 175ms;

    &:hover {
      background-color: var(--primary-400);
      color: #fff;
    }
  }
}

.btn__reset {
  margin: 0;
  border: 0;
  padding: 0.25rem 0.5rem;

  background-color: transparent;
  color: var(--neutral-700);
  cursor: pointer;

  font-weight: var(--fw-700);
  font-size: 1rem;
  line-height: 1.5;

  &:hover {
    color: var(--primary-400);
    text-decoration: underline;
  }
}
