@font-face {
  font-family: 'League Spartan';
  src: url('/fonts/leaguespartan-regular-webfont.woff2') format('woff2'),
    url('/fonts/leaguespartan-regular-webfont.woff') format('woff');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'League Spartan';
  src: url('/fonts/leaguespartan-bold-webfont.woff2') format('woff2'),
    url('/fonts/leaguespartan-bold-webfont.woff') format('woff');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

body {
  font-family: var(--ff-base);
  font-weight: var(--fw-500);
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}
